@import url(' https://fonts.cdnfonts.com/css/tt-commons ');

* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #141414;
}


.menu {
    margin: 0 auto;
    min-width: 100%;
    background-color: #EAEAEA;
    position: fixed;
    top: 0
}


ul {
    display: flex;
    justify-content: center;
    cursor: pointer;


}

li {
    text-decoration: none;
    padding: 20px 40px 20px 40px;
    align-items: center;
    list-style: none;
    font-family: 'tt commons'

}

li:hover {
    background-color: black;
    transition-duration: 1s;

}

a {
    color: #505252;
    text-decoration: none
}

a:hover {
    color: #EAEAEA;
    transition-duration: 1s;


}

/* Os códigos acima são do menu*/

#inicio {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 0px 40px 0px;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}


.aprtt1 {
    display: block;
    padding-left: 30px;
    justify-content: center;

}

.img1 {
    border-radius: 20%
}

.aprtt2 {
    display: block;
    justify-content: center;
    align-self: center;

}

.h1 {
    color: #c2c2c2;
    font-size: 51px;
    font-family: 'tt commons';
}

.p1 {
    color: #c5c8c8;
    font-family: 'tt commons';
    font-size: 23px;


}

.conteiner-port {
    background-color: #f4f5f5;

}

.color-port {
    background-color: #efefef;
    margin: 0 auto;
    max-width: 1200px;

}

#port01 {
    margin: 0 auto;
    max-width: 1200px;
    padding: 120px 0px 40px 20px;
    font-family: 'tt commons';
    font-size: 32px;
}

#port01 h2 {
    padding-left: 40px;
    color: #343535;
}

.p2 {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    font-family: 'tt commons';
    font-size: 26px;
    color: #343535;
}

.p2 p {
    padding: 20px 90px 0px 40px;

}

.icon {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 0px 40px 20px;
    justify-content: space-around;

}

.icon p {
    display: flex;
    font-family: 'tt commons';
    color: #343535;
    font-size: 26px;
    align-items: center;
}




.fa-brands {
    font-size: 60px;
    padding-right: 20px;

}


.conteiner-sobre {
    background-color: #141414;

}

.colorsobre {
    background-color: #000000;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 100px;
}



#sobre01 {
    margin: 0 auto;
    max-width: 1200px;
    padding: 120px 0px 40px 20px;
    font-family: 'tt commons';
    font-size: 32px;
    padding-left: 40px;
}

#sobre01 h2 {
    padding-left: 20px;
    color: #eaeaea;
}

.p3 {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    font-family: 'tt commons';
    font-size: 26px;
}

.p3 p {
    padding: 20px 90px 0px 40px;
    color: #c5c8c8;

}

.conteiner-contato {
    background-color: #f4f5f5;
}
.contato-color {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 100px;
    background-color: #EAEAEA;
}

#contato {
    text-align: center;
    font-family: 'tt commons';
    font-size: 32px;
    padding-top: 90px;
}

.icon-contatos {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

.icon-contatos .fa-brands {
    cursor: pointer;

}

.fa-linkedin {
    position: relative;
    padding-left: 20px;
    transition: 01s;
}

.fa-linkedin:hover {
    color: #0e76a8;
    transform: translatey(-10px);

}

.fa-github {
    position: relative;
    padding-left: 20px;
    transition: 01s;
}

.fa-github:hover {
    color: #000000;
    transform: translatey(-10px);

}



.footer-color {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    background-color: #505252
}

.footer-color p {
    display: flex;
    padding-bottom: 2px;
    font-family: 'tt commons';
    color: #bbbbbb;
    font-size: 26px;
    align-items: center;
    transition: 01s;
    cursor: pointer;
}

.fa-envelope, .fa-phone {
    font-size: 30px;
    padding-right: 20px;
    position: relative;
    padding-left: 20px;
    transition: 01s;
}


.footer-color p:hover {
    color: #EAEAEA;;
    transform: translatey(-10px);
}
